<form action='/list/edit' method='POST'>
	<div class='input-field'>
		<input id='title_game' name='title' type='text' class='validate' value='{{gameModel.title}}' />
		<label for='title_game'>Название игры</label>
		<span class='helper-text' data-error='Type title'></span>
	</div>

	<div class='input-field'>
		<input id='genre_game' name='genre' type='text' class='validate' value='{{gameModel.genre}}' />
		<label for='genre_game'>Жанр игры</label>
		<span class='helper-text' data-error='Type genre'></span>
	</div>

	<div class='input-field'>
		<input id='img_game' name='img' type='text' class='validate' value='{{gameModel.img}}' />
		<label for='img_game'>URL картинки игры</label>
		<span class='helper-text' data-error='Type url'></span>
	</div>

	<div class='input-field'>
		<input id='price_game' name='price' type='number' class='validate' value='{{gameModel.price}}' />
		<label for='price_game'>Цена игры</label>
		<span class='helper-text' data-error='Type price'></span>
	</div>

	<input type='hidden' name='id' value='{{gameModel.id}}' />
	<input type='hidden' name='_csrf' value='{{csrf}}' />

	<button type='submit' class='btn btn-primary'>Edit gameModel</button>
</form>

<form action='/list/remove' method='post'>

	<input type='hidden' name='id' value='{{gameModel.id}}' />
	<input type='hidden' name='_csrf' value='{{@root.csrf}}' />

	<button type='submit' class='btn red'>Remove gameModel</button>

</form>