<div class='card'>
	<div class='card-image'>
		<img src='{{gameModel.img}}' alt='{{gameModel.title}}' />
	</div>

	<div class='card-content'>
		<p>{{gameModel.title}}</p>
		<p>{{gameModel.genre}}</p>
		<p>{{gameModel.description}}</p>
		<p class='price_game'>{{gameModel.price}}</p>
	</div>
</div>